.slider-container {
  width: 100%;
  height: 550px;
  position: relative;
  overflow: hidden; /* Скрывает выезжающие слайды */
  margin: 0;
  padding: 0;
}

.slider-wrapper {
  height: 100%;
  /* Нет width — flex сам растянет */
}

.slide-layer {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.indicators {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 12px;
  z-index: 30;
}

.indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  background: rgba(255, 255, 255, 0.673);
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0;
}

.indicator.active {
  background: rgb(218, 75, 7);
}

.indicator:hover {
  background: rgb(218, 75, 7);
}