.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.included-container {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
}

.content-coolPass {
  display: grid;
  justify-items: center;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.included-title {
  text-align: left;
  color: #252c3e;
  margin: 50px 0 30px 0;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: 130%;
  text-transform: uppercase;
}

.card {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  cursor: pointer;
  width: 560px;
  height: 300px;
  border-radius: 10px;
}

.content-active.hidden {
  visibility: hidden;
}

.content-active {
  position: absolute;
  inset: 0; 
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: center;
}

.exclusive-offer-btn {
  width: 476px;
  max-width: 90%;
  height: 71px;
  margin-top: 0;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(218, 75, 7, 0.7);
  border-radius: 10px;
  text-align: center;
}

.offer-text,
.title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}
.popup-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(37, 44, 62, 0.85);
  visibility: hidden;
}

.popup-content.active {
  height: 100%;
  opacity: 1;
  visibility: visible;
}

.text-container {
  flex: 1;
  margin: 0 47px;
}

.title {
  font-style: normal;
  line-height: 25px;
  margin-top: 30px;
}

.popup-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #fff;
  margin-top: 15px;
}

.popup-text p {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 138px;
}

.see-all-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding-bottom: 40px;
}

.see-all-wrapper .see-all-btn {
  min-width: 80px;
  width: auto;
  height: 40px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.see-all-wrapper .button-send {
  min-width: 126px;
  width: auto;
  height: 40px;
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  border: 1px solid #da4b07;
  line-height: 35px;
  font-weight: 700;
  font-size: 15px;
  background: #da4b07;
  box-sizing: border-box;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 20px;
}

.see-all-wrapper .button-send:hover {
  background: #ef5106;
  border: 1px solid #ef5106;
}

@media (max-width: 768px) {
  .included-title {
    margin: 50px 2px 30px;
    text-align: left;
    width: 375px;
  }
  .content-coolPass {
    grid-template-columns: 1fr;
    gap: 14px;
  }

  .card {
    aspect-ratio: 4 / 2.4; 
    max-width: 100%;
    width: 390px;
    border-radius: 0px;
  }

  .popup-content {
    border-radius: 0;
  }

  .text-container {
    padding: 0 22px;
    margin: 0;
    width: 390px;
  }

  .title {
    font-size: 18px;
    text-wrap: wrap;
  }

  .popup-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    margin-top: 17px;
  }

  .exclusive-offer-btn {
    width: 290px;
    height: 59px;
    width: 100%;
    margin: 0; 
  }

  .see-all-wrapper {
    justify-content: center;
  }

  /* На тач-устройствах показываем оверлей при нажатии */
  .card:active .exclusive-offer-btn {
    opacity: 1;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content-coolPass {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }

  .card {
    aspect-ratio: 5 / 3.1;
    max-width: 100%;
  }

  .exclusive-offer-btn {
    margin-top: auto;
    margin-bottom: 28px;
    width: 290px;
    height: 59px;
  }
}

@media (max-width: 480px) {
  .card {
    aspect-ratio: 4 / 2.35;
    padding: 0;
    width: 390px;
  }

  .exclusive-offer-btn {
    width: 290px;
    max-width: 88%;
    height: 56px;
    margin: 0 auto 24px auto;
  }
}
